In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [9]:
df =pd.read_csv("C:/Users/ASHISH SRIVASTAVA/Downloads/Cold_Storage_Temp_Data_-1.csv")

In [10]:
df.head()

   Season Month  Date  Temperature
0  Winter   Jan     1          2.3
1  Winter   Jan     2          2.2
2  Winter   Jan     3          2.4
3  Winter   Jan     4          2.8
4  Winter   Jan     5          2.5

## 1. Find mean cold storage temperature for Summer, Winter, and Rainy Season.

In [12]:
print('Mean Temperature for Summer = ',df[df['Season']== 'Summer']['Temperature'].mean())
print('Mean Temperature for Winter = ',df[df['Season']== 'Winter']['Temperature'].mean())
print('Mean Temperature for Rainy = ',df[df['Season']== 'Rainy']['Temperature'].mean())

Mean Temperature for Summer =  3.1475
Mean Temperature for Winter =  2.776422764227643
Mean Temperature for Rainy =  3.0877049180327876

## 2. Find the overall mean for the full year.

In [14]:
df['Temperature'].mean()

3.0024657534246546

## 3. Find Standard Deviation for the full year.

In [17]:
df['Temperature'].std()

0.4658319416510761

## 4. Assume Normal distribution, what is the probability of temperature having fallen below 2o C?

In [28]:
from scipy.stats import norm
p_2 = norm(df['Temperature'].mean(),df['Temperature'].std()).cdf(2)

print('Probability of temperature having fallen below 2C is ',p_2)

Probability of temperature having fallen below 2C is  0.015699064791364483

## 5. Assume Normal distribution, what is the probability of temperature having gone above 4o C?

In [29]:
p_4 = norm(df['Temperature'].mean(),df['Temperature'].std()).sf(4)

print('Probability of temperature having gone above 4C is ',p_4)

Probability of temperature having gone above 4C is  0.016120748141275808

## 6. What will be the penalty for the AMC Company?

In [36]:
totl_p = round((p_2+p_4)*100,2)

if totl_p > 2.5 and totl_p < 5:
    
    print(f'According to contract if probability is above 2.5% and less than 5% then Penalty is 10% of AMC')
    
elif totl_p >5:
    print(f'According to contract if probability is above 5% then Penalty is 25% of AMC')

else:
    print('No Penalty')

According to contract if probability is above 2.5% and less than 5% then Penalty is 10% of AMC

# PROBLEM 2

In [37]:
df2=pd.read_csv('C:/Users/ASHISH SRIVASTAVA/Downloads/Cold_Storage_Mar2018_.csv')

In [39]:
df2.head()

   Season Month  Date   Temperature
0  Summer   Feb    11            4.0
1  Summer   Feb    12            3.9
2  Summer   Feb    13            3.9
3  Summer   Feb    14            4.0
4  Summer   Feb    15            3.8

## 1. Which Hypothesis test shall be performed to check if corrective action is needed at the cold storage plant? Justify your answer.

### As the Data set is small which is around 35 samples T Test will suit best for this Situation based on the Result we can decide if Corrective action is needed or not.

## 2. State the Hypothesis and do the necessary calculations to accept or reject the corresponding null

### One Sample T Test

In [60]:
from scipy import stats

t_value,p_value=stats.ttest_1samp(df2[' Temperature '],round(mean,2))

one_tailed_p_value=float("{:.6f}".format(p_value/2)) # Since alternative hypothesis is one tailed, We need to divide the p value by 2.

print('Test statistic is %f'%float("{:.6f}".format(t_value)))

print('p-value for one tailed test is %f'%one_tailed_p_value)

Test statistic is 0.158790
p-value for one tailed test is 0.437387

### At  the  level  of  10%  significance,  p-value  =  0.43.    Since  p-value  >  0.1, We have no evidence to Reject null Hypothesis so decision should be the problem is from procurement side